body{
    background-color: #EAECEE;
}

#rootDiv {
    text-align: center;
    margin-top: 5vh;
    align-items: center;
}

#select-button {
    margin-top:16px;
    min-width: 50%;
}

#room-field {
    margin-left: 10px;
    max-width: 100px;
}

#paper{
    max-width: 70vw;
    padding: 30px 0px;
    margin: 0 auto;
}

#question-area {
    margin-top: 15px;
}

#paper-question {
    width: 70vw;
    margin: 20px auto;
    padding-bottom: 5px;
}

#start-button {
    margin-top: 10px;
}